<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>PayMyBuddy</title>
		<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="icon" type="image/x-icon" href="assets/favicon2.ico" />


	</head>
	<body>



    <app-header></app-header>
    <app-ng-dynamic-breadcrumb [bgColor]="'#eee'" [fontSize]="'14px'" [fontColor]="'#0275d8'" [lastLinkColor]="'#666666'" [symbol]="' / '" style="border-radius: 0px;"></app-ng-dynamic-breadcrumb>
    <div class="container">
		  <router-outlet></router-outlet>
    </div>

	</body>
</html>


