<!--TODO-->
<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navmenu">
    <a class="navbar-brand" href="#">
        <img alt="Paymybuddy Logo" src="assets/pay-my-butty-logo.png" width="150"/>
    </a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/transfer">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="/nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="/nav-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <!-- <li  *ngIf="userIsLogged" class="nav-item bg-danger">
              <a class="nav-link" (click)="logout()">Se déconnecter</a>
            </li>
            <li  *ngIf="!userIsLogged" class="nav-item bg-primary">
              <a routerLink="login" class="nav-link">Se connecter</a>
            </li> -->
        </ul>
    </div>
</nav>


